<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduationdesign.mapper.JudgesMapper">

    <resultMap id="BaseResultMap" type="com.example.graduationdesign.domain.pojo.Judges">
            <id property="judgeId" column="judge_id" jdbcType="INTEGER"/>
            <result property="submissionId" column="submission_id" jdbcType="INTEGER"/>
            <result property="result" column="result" jdbcType="OTHER"/>
            <result property="output" column="output" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        judge_id,submission_id,result,
        output,created_at
    </sql>
</mapper>
